.container {
  margin: 0 200px;
  }
.breadcrumb {
  margin-top: 30px;
  margin-bottom: 0;
  li > a {
    color: black;
  }
  .active {
    font-weight: bold;
  }
}
.jumbotron {
  text-align: center;
  margin-top: 90px !important;
  margin-bottom: 0 !important;
}
.about-me {
  margin-bottom: 20px;
  h2 {
    text-align: right;
  }
  .about-me-content {
    text-align: right;
    font-weight: 400;
  }
  .profile_image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  }

  p {
    font-size: 22px;
    font-weight: default;
    margin-top: 80px;
  }
}
.bit-blaster {
  p {
    font-size: 22px;
    margin-top: 80px;
  }
  img {
    size: 400px;
    width: 400px;
    border-radius: 5px;
    margin-top: 20px;
  }
}
.skills {
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  ul {
    display: block;
    list-style-type: none;
  }
  li {
    font-size: 20px;
    font-weight: bold;
  }
}
.contact {
  ul {
    list-style-type: none;
    text-align: center;
  }
  li {
    display: inline;
  }
  i {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 600px) {
    .container {
      margin: 0;
    }
    .about-me {
      h2 {
        text-align: center;
      }
      img {
        max-height: 150px;
        max-width: 150px;
        margin-top: 20px;
      }
      p {
        margin-top: 20px;
        font-size: 16px;
        text-align: justify;
      }
    }
    .bit-blaster {
      h2 {
        text-align: center;
        margin-bottom: 10px
      }
      img {
        max-height: 150px;
        max-width: 150px;
        margin-right: 20%;
      }
      p {
        margin-top: 20px;
        font-size: 16px;
        text-align: justify;
      }
    }
    .skills {
      #skills {
        text-align: center;
      }
      h2 {
        text-align: center;
        margin-bottom: 10px;
      }
      ul {
        padding: 0;
        li {
          text-align: center;
        }
      }
      .jumbotron {
        margin-top: 10px !important;
        margin-left: 10px;
        padding: 5px 15px;
        font-size: 12px;
        font-weight: default;
      }
    }
    .contact {
      ul {
        padding: 0;
      }
    }

    .breadcrumb {
      display: none;
    }
  }