.breadcrumb {
  margin-top: 30px;
  margin-bottom: 0;
  li > a {
    color: black;
  }
  .active {
    font-weight: bold;
  }
}
.jumbotron {
  text-align: center;
  margin-top: 80px !important;
  margin-bottom: 0 !important;
}
.about-me {
  margin-bottom: 20px;

  .about-me-content {
    text-align: right;
  }

  .profile_image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  }

  p {
    font-size: 22px;
    margin-top: 80px;
  }
}
.bit-blaster {
  p {
    font-size: 22px;
    margin-top: 80px;
  }
  img {
    size: 400px;
    width: 400px;
    border-radius: 5px;
    margin-top: 20px;
  }
}
.skills {
  h2 {
    text-align: center;
  }
  ul {
    display: block;
    list-style-type: none;
  }
  li {
    font-size: 20px;
    font-weight: bold;
  }
}
.contact {
  ul {
    list-style-type: none;
    text-align: center;
  }
  li {
    display: inline;
  }
  i {
    height: 150px;
    width: 150px;
  }
}