doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet' href='css/main.css')
  body
    div.container
      header.page-header.clearfix
        h1.pull-left Jacob Lewis.<small>web_developer</small>
        ol.pull-right.breadcrumb
          li
            a(href="#").active About
          li
            a(href="#") Skills
          li
            a(href="../projects.html") Bit Blaster
          li
            a(href="#") Contact
      div.row.about-me
        div.col-xs-12
          div.col-xs-4
            img.center-block.profile_image(src="assets/profile_photo.png")
          div.col-xs-7.col-xs-offset-1.about-me-content
            h2.pull-right About Me
            p I'm a web developer working in HTML, CSS, JavaScript and Ruby. I'm currently enrolled as a full-time student at the Nashville Software School, a bootcamp-style vocational school focused on training junior developers. I'm new to Nashville, coming by way of Madison, WI and Birminghan, AL. When I'm not working on development projects, you can find me on the disc golf course or playing a board game with friends.
      hr
      .row.bit-blaster
        .col-xs-6
          h2 Bit Blaster
          p Bit Blaster is an arcade-style space shooter built with the Phaser.js game engine. I completed Bit Blaster in around two weeks while studying at Nashville Software School. I created the game assets with GIMP, and high scores are recorded using Firebase. You can play the game here and try to get into the top 10 leaderboard.
        .col-xs-6
          img.pull-right(src="assets/bit_blaster.png")
      hr
      h2 Skills
      div.row.skills.jumbotron
        div.col-xs-3
          ul
            li HTML
            li CSS
            li JavaScript
            li Ruby
        div.col-xs-3
          ul
            li Ruby on Rails
            li Jade
            li Phaser.js
            li JQuery
        div.col-xs-3
          ul
            li Sass
            li Angular.js
            li TDD
            li Git
        div.col-xs-3
          ul
            li Karma
            li Mocha
            li Chai
            li Phantom.js
      div.row.contact
        h2.pull-right Contact
        .col

        