doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet' href='css/main.css')
  body
    div.container
      header.page-header.clearfix
        h1.pull-left Welcome
        h3.pull-right jacobdlewis
      div.jumbotron
        h2 Thanks for visiting. Stay a while.
        img.center-block.profile_image(src='https://scontent-atl.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1512678_10152179832173659_972064717_n.jpg?oh=599ea64c29fd8a94f172a7bd65ad1507&oe=5580288C')
      div.row
        div.col-xs-4
          h2 Developer
          p I'm an aspiring web developer currently working in HTML, CSS, and JavaScript. Over the next few months, I'll be expanding my skillset to the backend with Ruby on Rails.
        div.col-xs-4
          h2 Student
          p I'm enrolled as a full-time student at Nashville Software School, a bootcamp-style vocational school focused on training junior developers.
        div.col-xs-4
          h2 Human Being
          p
            | When I'm not programming, blogging, or studying, you can find me playing disc golf or video games. My current fixation is
            a(href='http://www.dontstarvegame.com/') Don't Starve
            | , a lovely Tim Burton-esque survival game.