doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet' href='css/main.css')
  body
    div.container
      header.page-header
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Portolio
        h1 Jacob D Lewis
      div.jumbotron
        h2 Get to know me
        p I'm a Florida native who landed in Nashville by way of Birmingham, AL and Madison, WI. I'm currently a full-time student at Nashville Software School, a coding bootcamp that teaches front-end web development.
        p When I'm not coding, I'm enjoying trashy true crime TV with my lovely partner Emily, and my dog Lucy.