doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet' href='assets/font-awesome-4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='css/main.css')
  body

    header.page-header.clearfix.col-xs-12
      .col-xs-6
        h1.pull-left Jacob Lewis.<span class='subheader'>web_developer<span>
      .col-xs-6
        ol.pull-right.breadcrumb
          li
            a(href="#about_me").active About Me
          li
            a(href="#bit_blaster") Bit Blaster
          li
            a(href="#skills") Skills
          li
            a(href="#contact") Contact

    .container
      .row.col-xs-12
        h2.pull-right About Me
      div.row.about-me.col-xs-12#about_me
        div.col-md-6
          img.profile_image(src="assets/profile_photo.png")
        div.col-md-6
          p.paragraph I'm a apprentice web developer at the Nashville Software School, a bootcamp-style vocational school focused on training junior developers. I'm new to Nashville, coming by way of Madison, WI and Birminghan, AL. When I'm not working on development projects, you can find me on the disc golf course or playing a board game with friends.

      .row.col-xs-12
        hr
        h2.pull-left Bit Blaster
      .row.col-xs-12#bit_blaster
        .col-md-6
          p.paragraph Bit Blaster is an arcade-style space shooter built with the Phaser.js game engine. I completed Bit Blaster in around two weeks while studying at Nashville Software School. I created the game assets with GIMP, and high scores are recorded using Firebase. 
            a(href="https://bitblaster.firebaseapp.com/") Play the game.
        .col-md-6
          div
            a(href="https://bitblaster.firebaseapp.com/")
              img.bit-blaster.pull-right(src="assets/bit_blaster.png")

      .row.col-xs-12.skills
        hr
        h2#skills.pull-right Skills
        .col-xs-12
          div.skills.jumbotron.clearfix
            div.col-md-3.col-xs-6.clearfix
              ul
                li HTML
                li CSS
                li JavaScript
                li Ruby
            div.col-md-3.col-xs-6
              ul
                li Rails
                li Jade
                li Phaser.js
                li JQuery
            div.col-md-3.col-xs-6
              ul
                li Sass
                li Angular.js
                li TDD
                li Git
            div.col-md-3.col-xs-6
              ul
                li Karma
                li Mocha
                li Chai
                li Phantom.js

      .row.col-xs-12
        hr
        h2.pull-left Contact
      div.row.col-xs-12.contact
        ul#contact.text-center
          li
            a(href="https://github.com/jacobdlewis")
              i.fa.fa-github.fa-5x
          li
            a(href="https://twitter.com/?lang=en")
              i.fa.fa-twitter.fa-5x
          li
            a(href="https://www.linkedin.com/in/jacoblewis")
              i.fa.fa-linkedin.fa-5x
          li
            a(href="mailto:jacobdlewis@gmail.com")
              i.fa.fa-envelope.fa-5x
          li
            a(href="https://medium.com/@jacobdlewis")
              i.fa.fa-medium.fa-5x