doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet' href='assets/font-awesome-4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='css/main.css')
  body

    .col-xs-12.top-header.navbar-fixed-top
      .col-xs-6
        h1.pull-left Jacob Lewis.<span class='subheader'>web_developer<span>
      .col-xs-6
        ol.pull-right.breadcrumb
          li
            a(href="#about_me").active About Me
          li
            a(href="#bit_blaster") Bit Blaster
          li
            a(href="#skills") Skills
          li
            a(href="#contact") Contact

    .container

      .row.section-header
        .col-xs-12
          h2#about_me About Me

      .row.main-section
        col-xs-12.about-me
          div.col-md-6
            img.profile_image(src="assets/profile_photo.png")
          div.col-md-6
            p.paragraph 
              | I'm a web developer at 
              a(href="http://nashvillesoftwareschool.com/", target="_blank") Nashville Software School
              | , a bootcamp-style vocational school focused on training junior developers. I'm a recent transplant to Nashville, coming by way of Madison, WI and Birmingham, AL. I enjoy learning new technologies and writing clean, test-driven code. When I'm not working on development projects, you can find me on the disc golf course, taking walks with my dog Lucy, or playing a board game with friends.

      .row
        .col-xs-12.separator
            hr

      .row.section-header
        .col-xs-12
          h2#bit_blaster Bit Blaster

      .row.main-section
        .col-xs-12
          .col-md-6
            p.paragraph 
              | Bit Blaster is an arcade-style space shooter built with the 
              a(href="http://phaser.io/", target="_blank") Phaser.js 
              | game engine. I completed Bit Blaster for my capstone project featuring front-end technologies at Nashville Software School. Game assets were created with GIMP. High scores are recorded using Firebase, which is also used to deploy the project. 
              a(href="https://bitblaster.firebaseapp.com/", target="_blank") Play the game here. 
              | If you can top 50,000 points, you'll get to take on the boss.
          .col-md-6
            div
              a(href="https://bitblaster.firebaseapp.com/", target="_blank")
                img(src="assets/bit_blaster.png").bit-blaster.pull-right

      .row
        .col-xs-12.separator
            hr

      .row.section-header
        .col-xs-12
          h2#skills Skills

      .row.main-section
        .col-xs-12
          div.skills.jumbotron.clearfix
            div.col-md-3.col-xs-6.clearfix
              ul
                li HTML
                li CSS
                li JavaScript
                li Ruby
            div.col-md-3.col-xs-6
              ul
                li Rails
                li Jade
                li Phaser.js
                li JQuery
            div.col-md-3.col-xs-6
              ul
                li Sass
                li Angular.js
                li TDD
                li Git
            div.col-md-3.col-xs-6
              ul
                li Karma
                li Mocha
                li Chai
                li Phantom.js

      .row
        .col-xs-12.separator
            hr

      .row.section-header
        .col-xs-12
          h2#contact Contact

      .row.main-section
        .col-xs-12.contact
          ul.text-center
            li
              a(href="https://github.com/jacobdlewis", target="_blank")
                i.fa.fa-github.fa-5x
            li
              a(href="https://twitter.com/?lang=en", target="_blank")
                i.fa.fa-twitter.fa-5x
            li
              a(href="https://www.linkedin.com/in/jacoblewis", target="_blank")
                i.fa.fa-linkedin.fa-5x
            li
              a(href="mailto:jacobdlewis@gmail.com", target="_blank")
                i.fa.fa-envelope.fa-5x
            li
              a(href="https://medium.com/@jacobdlewis", target="_blank")
                i.fa.fa-medium.fa-5x
      .row
        .col.xs-12.separator.page-footer
          hr
          h4.text-center Written with 
            a(href="http://getbootstrap.com/", target="blank") Bootstrap. 
            | Powered by my Raspberry Pi
            img(src="../assets/rasbpi_icon.ico")
    script(src="js/jquery.min.js")
    script(src="js/main.js")